/* fix voor ie10 op windowsphone */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* einde fix */

a {
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
}

a h1 {
	font-family: Impact, Charcoal, sans-serif;
}

a:hover {
	text-decoration: none;
}

body, html {
	height: 100vh;
	min-height: 100vh;
}

h1 {
	color: #FFFFFF;
	font-family: Impact, Charcoal, sans-serif;
	margin: 10px;
	font-size: 2.8em;
	float: left;
}

h2 {
	color: #b8b8b8;
	font-family: Impact, Charcoal, sans-serif;
	margin: 15px;
	font-size: 1.875em;
}

h3 {
	color: #b8b8b8;
	font-family: Impact, Charcoal, sans-serif;
	margin: 15px;
	font-size: 1.875em;
}

input {
	font-family: Century Gothic, sans-serif;
	color: #333333;	
}

label {
	font-family: Century Gothic, sans-serif;
	color: #333333;
}

p {
	font-family: Century Gothic, sans-serif;
	color: #333333;
}

td {
	margin: 5px;
}

@media (min-width: 500px) {
	.button-mobile {
		display: none;
	}
}

@media(min-width:500px) {
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 500px) {
	.center .IN-widget {
		display: none !important;
	}
}

@media (max-width: 975px) {
	.col-md-2 {
		display: none;
	}
}

@media (max-width: 300px) {
	.contact-data {
		font-size: 1.1em;
	}
}

@media(max-width: 500px) {
	.contform {
		display: none;
	}
}

@media (max-width: 975px) {
	.contact-form {
		width: 100%;
	}
}

@media (min-width: 975px) {
	.content-block {
		min-height: 90vh;
	}
}

@media (max-width: 975px) {
	.content-block {
		display: none !important;
	}
}

@media (min-width: 975px) { 
	.cross {
		display: none !important;
	}
}

@media (max-width: 400px){
	h1 {
		font-size: 2em;
	}
}

@media (min-width: 975px) { 
	.hamburger {
		display: none !important;
	}
}

@media (max-width: 975px) {
	.hamburger {
		display: block;
		float: right;
		height: 30px;
		width: auto;
		margin-top: 15px;
	}
}

@media (min-width: 975px) { 
	.hamburger-menu {
		display: none !important;
	}
}

@media (max-width: 500px) {
	.IN-widget {
		display: none !important;
	}
}

@media (min-width: 500px) {
	.IN-widget {
		display: block !important;
	}
}

@media (max-width: 975px) {
	.jumbotron {
		padding-bottom: 0 !important;
	}	
} 

@media (min-width: 975px) {
	.jumbotron .container {
		min-height: 95vh;
	}
}

@media (max-width: 975px) { 
	.nav-item {
		display: none !important;
	}
}

@media (max-width: 500px) {
	.mobile-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 975px) { 
	.mobile-content {
		display: none !important;
	}
}

@media (min-width: 500px) {
	.mobile-content .button-mobile {
		display: inline-block;
	}
}

@media (max-width: 400px) {
	.mobile-coverimage {
		display: none;
	}
}

@media (max-width: 400px) {
	p {
		font-size: 1.15em !important;
		text-align: justify;
	}
}

@media (max-width: 400px) {
	.top-header{
		margin-top: 50px;
	}
}

#coder {
	color: #b8b8b8;
	font-family: Impact, Charcoal, sans-serif;
	margin: 25px;
	font-size: 4em;
	position: absolute;
	bottom: 40%;
	z-index: 9;
}

.button {
	background-color: #36CFC8;
	text-align: center;
	padding: 10px; 
	border: solid 2px grey;
	width: 180px;
	height: 60px;
	position: absolute;
	bottom: 10vh;
	border-radius: 5px;
}

.button-mobile {
	background-color: #36CFC8;
	text-align: center;
	padding: 10px; 
	border: solid 2px grey;
	width: 180px;
	height: 60px;
	border-radius: 5px;
	margin-bottom: 10px;	
}

.button-highlight {
	background-color: #e5e5e5 !important;
	color: #36CFC8;
	border: solid 2px #36CFC8 !important;
}

.button-highlight p {
	color: #36CFC8 !important;
	text-align: center;
}

.button p {
	color: #ffffff;
	text-align: center;
}

.button-mobile p {
	color: #ffffff;
	font-size: 1.25em;
	text-align: center;
}

.center .IN-widget {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 366px;
}

.contact-data {
	margin: 5px 5px 5px 15px;
}

.contact-form {
	min-width:160px;
	width: 90%;
	height:500px;
	border:none;
	margin-top: -35px;
}

.contactpage {
	min-height: 100vh;
}

.coverimage {
	height: 70vh;
	margin-top: 21vh;
	width: auto;
	float: right;
	z-index: -1;
}

.cross {
		display: block;
		float: right;
		height: 30px;
		width: auto;
		margin-top: 15px;
}

.floatleft {
	float: left;
}

.half-block {
	min-height: 45vh;
	margin-top: 85px;
}

.hamburger-menu {
	text-align: center;
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
	background-color: #b8b8b8;
	float: right;
}

.hamburger-menu-item {
	padding: 15px 0 15px 0;
	text-align: center;
	float: right;
}

.hamburger-menu-item p {
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
}

.highlight {
	color: #36CFC8;
	font-family: Century Gothic, sans-serif;
}

.icon {
	height: 35px;
	width: 35px;
	float: left;
	margin: 0 10px 0 10px;
}

.input-group textarea {
	color: ##333333;
	font-family: Century Gothic, sans-serif;
}

.invis {
	display: none !important;
}

.IN-widget {
	margin-left: 10px;
}

.job-title {
	color: #b8b8b8;
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	font-family: Century Gothic, sans-serif;
}

.jumbotron {
	background-image: url("/images/wood.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	min-height: 100vh;
}

.jumbotron .container {
	background-color: #ffffff;
}

.mail {
	color: #000000;
	text-decoration: none;
}

.menu-box {
	padding: 5px;
}

.mobile-content {
	min-height: 100vh;
}

.mobile-coverimage {
	height: 50vh;
	margin-top: 10px;
	margin-bottom: 15px;
	width: auto;
	float: right;
	z-index: -1;
}

.msg-box {
	width:80%;
	float: left;
	height: 120px;
	border: 1px solid #b8b8b8;
	background-color: #ffffff;
}

.name-box {
	width:80%;
	height: 30px;
	float: left;
	border: 1px solid #b8b8b8;
	margin-bottom: 20px;
	background-color: #ffffff;
}

.navbar {
	display: inline;
	background-color: #B8B8B8;
	position: fixed;
	top: 0;
	left: 0;
}

.navbar a {
	font-size: 1.25em;
}

.nav-item {
	padding: 15px 0 15px 0;
	text-align: center;
}

.nav-item p {
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
	padding: 5px;
}

.portfolio-pic {
	display: block;
	height: auto;
	width: 60%;
	border: 5px solid #b8b8b8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.send-button {
	background-color: #36CFC8;
	text-align: center;
	padding: 10px; 
	border: solid 2px grey;
	width: 180px;
	height: 60px;
	float: left;
	margin-top: 20px;
}

.send-button p {
	color: #ffffff;
}

.submit {
	color: #ffffff;
	font-family: Century Gothic, sans-serif;
	border: 0px;
	background-color: #36CFC8;
}

.tagline {
	color: #333333;
	font-family: Century Gothic, sans-serif;
	margin: 5px;
	position: absolute;
	bottom: 22vh;
}

.tag-mobile {
	color: #333333;
	font-family: Century Gothic, sans-serif;
	margin: 120px 5px 25px 5px;	
}

.table-headers {
	margin-bottom: 20px;
	color: #333333;
}

.text-block {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.text-header {
	text-align: center;
}

.top-header {
	margin-top: 85px;
}
