/* fix voor ie10 op windowsphone */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* einde fix */

h1 {
color: #FFFFFF;
font-family: Impact, Charcoal, sans-serif;
margin: 10px;
font-size: 3em;
float: left;
}

h2 {
color: #b8b8b8;
font-family: Impact, Charcoal, sans-serif;
margin: 25px;
font-size: 4em;
position: absolute;
bottom: 40%;
z-index: 9;
}

a {
color: #FFFFFF;
font-family: Century Gothic, sans-serif;
}

body, html {
heigth: 90vh;
min-height: 90vh;
padding-top: 15px;
}

.jumbotron {
background-color: #FFFFFF;
background-size: cover;
heigth: 90vh;
}

.jumbotron .container {
height: 90vh;
}

.content-block {
height: 90vh;
}

.tagline {
color: #333333;
font-family: Century Gothic, sans-serif;
margin: 5px;
position: absolute;
bottom: 22vh;
}

.highlight {
color: #36CFC8;
font-family: Century Gothic, sans-serif;
}

.nav-item {
padding: 15px 0 15px 0;
text-align: center;
}

.nav-item p {
color: #FFFFFF;
font-family: Century Gothic, sans-serif;
padding: 5px;
}

.navbar {
display: inline;
background-color: #B8B8B8;
position: fixed;
top: 0;
left: 0;
}

.button {
background-color: #36CFC8;
text-align: center;
padding: 10px; 
border: solid 2px grey;
width: 180px;
height: 60px;
position: absolute;
bottom: 10vh;
}

.button-highlight {
background-color: #e5e5e5 !important;
color: #36CFC8;
border: solid 2px #36CFC8 !important;
}

.button-highlight a {
color: #36CFC8;
}

.navbar a {
font-size: 1.25em;
}

.coverimage {
height: 70vh;
margin-top: 10vh;
width: auto;
float: right;
z-index: -1;
}